<div class="grid v-align-middle <%= 'active' if is_current %>">
  <span class="is-medium-heading m-1">
    <%= character_fight.initiative %>
  </span>
  <div class="m-1">
    <span class="is-small-heading mb-0">
      <%= character_fight.character.name %>
    </span>
    <%= character_fight.character.details %>
  </div>
  <div class="column has-text-right">
    <% if character_fight.character.url %>
      <a class="statistics me-4" href="<%= character_fight.character.url %>" target="_blank">
        <i class="iconoir-link v-align-middle"></i>
      </a>
    <% end %>
    <span class="statistics">
      <i class="iconoir-shield-broken v-align-middle"></i>
      <span class="v-align-middle">
        <%= character_fight.character.ac %>
      </span>
    </span>
    <span class="statistics">
      <i class="iconoir-heart v-align-middle"></i>
      <span class="v-align-middle">
        <%= character_fight.pv %> PV
      </span>
    </span>
  </div>
</div>
