<%= turbo_frame_tag character do %>
<div class="grid v-align-middle flex-space-between">
    <div class="m-1 column">
        <span class="is-small-heading"><%= character.name %></span>
        <span class="is-very-small-heading is-subheading">
          <span><%= character.details %></span><br>
          <span><%= character.pv %> PV - <%= character.ac %> AC</span>
        </span>
    </div>

    <div class="column is-shrink grid">
      <%= link_to edit_character_path(character), data: { turbo_frame: "form_character_frame" }, class: "button is-rounded is-shrink mb-0 me-1" do %>
        <i class="iconoir-edit-pencil"></i>
      <% end %>
      <%= button_to character, method: :delete, class: "button is-rounded is-shrink mb-0" do %>
        <i class="iconoir-bin-full"></i>
      <% end %>
    </div>
</div>
<% end %>