<%= form_for @character do |form| %>

    <%= render "/helpers/form_element",
        form: form,
        element: @character,
        field: :name,
        placeholder: "Nom du personnage" %>

    <%= render "/helpers/form_element",
        form: form,
        element: @character,
        field: :details,
        placeholder: "Détails visibles sur le personnage" %>

    <%= render "/helpers/form_element",
        form: form,
        element: @character,
        field: :pv,
        type: 'number' %>

    <%= render "/helpers/form_element",
        form: form,
        element: @character,
        field: :ac,
        type: 'number',
        number_in: 1.0..40.0 %>

    <%= render "/helpers/form_element",
        form: form,
        element: @character,
        field: :url,
        placeholder: "Lien externe privé" %>

    <div class="grid">
        <div class="column p-0">
            <%= render "/helpers/form_element",
                form: form,
                element: @character,
                field: :image,
                type: 'file' %>
        </div>

        <div class="column p-0">
            <div class="image is-thumbnail">
            <% if @character.image.attached? %>
                <%= image_tag @character.image, style: 'height: 200px; object-fit: cover; object-position: center top;
width: 100%;' %>
            <% end %>
            </div>
        </div>
    </div>

    <%= render "/helpers/form_element",
        form: form,
        element: @character,
        field: :character_type,
        type: 'select',
        options: Character.character_types.keys %>

    <%= render "/helpers/form_element",
        form: form,
        element: @character,
        field: :countable,
        type: 'switch' %>

    <div class="has-text-center">
        <%= button_tag type: "submit", class: "button is-rounded is-primary is-shrink mb-0 mt-2" do %>
            <i class="iconoir-plus-circle me-1"></i> Sauvegarder
        <% end %>
    </div>

<% end %>