<%= form_for @character do |form| %>

    <%= render "/helpers/form_element",
        form: form,
        element: @character,
        field: :name,
        placeholder: t('.name_placeholder') %>

    <%= render "/helpers/form_element",
        form: form,
        element: @character,
        field: :details,
        placeholder: t('.details_placeholder') %>

    <%= render "/helpers/form_element",
        form: form,
        element: @character,
        field: :pv,
        type: 'number' %>

    <%= render "/helpers/form_element",
        form: form,
        element: @character,
        field: :ac,
        type: 'number',
        number_in: 1.0..40.0 %>

    <%= render "/helpers/form_element",
        form: form,
        element: @character,
        field: :url,
        placeholder: t('.url_placeholder') %>

    <div class="grid">
        <div class="column p-0">
            <%= render "/helpers/form_element",
                form: form,
                element: @character,
                field: :image,
                type: 'file' %>
        </div>

        <div class="column p-0 is-rtl">
            <div id="character-image" class="image is-thumbnail">
            <% if @character.image.attached? %>
                <%= image_tag @character.image %>
            <% end %>
            </div>
        </div>
    </div>

    <%= render "/helpers/form_element",
        form: form,
        element: @character,
        field: :character_type,
        type: 'select',
        options: Character.character_types.keys.map { |k| [t("character_type.#{k}"), k] } %>

    <%= render "/helpers/form_element",
        form: form,
        element: @character,
        field: :countable,
        type: 'switch' %>

    <div class="has-text-center">
        <%= button_tag type: "submit", class: "button is-rounded is-primary is-shrink mb-0 mt-2" do %>
            <i class="iconoir-plus-circle me-1"></i> <%= t('.save') %>
        <% end %>
    </div>

<% end %>