<!DOCTYPE html>
<html>
  <head>
    <title>InitiativeTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/orbitcss/css/orbit.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <main>
      <div class="grid h-100">
        <div class="main-section h-100 column is-two-fourth grid is-vertical flex-space-between">
          <div class="column is-shrink">
            <%= yield %>
          </div>
          <div class="column is-shrink grid flex-space-between">
            <%= link_to game_index_path, class: 'button is-rounded is-shrink' do %>
              <i class="iconoir-arrow-left me-1"></i> Retour au combat
            <% end %>
          </div>
        </div>
        <div class="column h-100">
          <% @characters.each do | (key, array) | %>
            <div class="mb-4">
                <span class="is-heading">
                    <%= key %>
                </span>

                <% array.each do | character | %>
                    <%= render character, count_in_fight: @fight.character_count_in_fight(character) %>
                <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </main>
  </body>
</html>
